<div class="container">
	<br>
	
	<p>
		<h3><center>Items in Your Database</center></h3>

		<table class="table">
			<thead>
			    <tr>
					{{#each sqlCol}}
						<th scope="col">{{this.name}}</th>
					{{/each}}
			    </tr>
			</thead>
			  
			<tbody>
  				{{#each sqlResult}}
					<tr>
						<th scope="row">{{this.ID}}</th>
						<td><a href="?key=Name&value='{{this.Name}}'">{{this.Name}}</a></td>
						<td><a href="?key=ActionType&value={{this.ActionType}}">{{this.ActionType}}</a></td>
						<td><a href="?key=ActionValue&value={{this.ActionValue}}">{{this.ActionValue}}</a></td>
						<td><a href="?key=Description&value='{{this.Description}}'">{{this.Description}}</a></td>
						<td><a href="?key=ItemHolderID&value={{this.ItemHolderID}}">{{this.ItemHolderID}}</a></td>
					</tr>    	
				{{/each}}		
			</tbody>
		</table>

	{{#if filter}}
		<a href="/browseitem" class="btn btn-primary">Reset filter</a>
	{{/if}}
	
	</p>

</div>


